@import "shared/styles/colors";

.event-list-item,
.book-event-section {
  h6 {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  span {
    font-size: 0.6rem;
  }
}

.event-list-item {
  align-items: center;
  border: 1px $border-box-color solid;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;

  .event-slim-info {
    max-width: 70%;
    text-align: left;
  }

  .event-details {
    max-width: 30%;
    text-align: right;
  }
}

#book-event-modal .MuiPaper-root {
  width: 30rem;
  .book-event-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div,
    h6,
    span {
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: stretch;
    }

    h6,
    span {
      overflow: visible;
      white-space: normal;
    }
  }
}
