@import "shared/styles/colors";

.booking-list-item {
  h6 {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  span {
    font-size: 0.6rem;
  }
}

.booking-list-item {
  align-items: center;
  border: 1px $border-box-color solid;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;

  .booking-slim-info {
    max-width: 70%;
    text-align: left;
  }

  .booking-actions {
    max-width: 30%;
    text-align: right;
  }
}
