/* Main navbar */
#MainNavBar {
  user-select: none;
  width: 100%;
}

/* All elements inside the navbar */
#MainNavBar a {
  color: white;
  margin: 0 0.5rem;
  text-decoration: none;
}

/* Navigation items container */
.main-navbar-items {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* Each navigation item */
.main-navbar-items a:hover button,
.main-navbar-items a:active button,
.main-navbar-items a.active button {
  color: rgb(255, 197, 130);
}
