@import "shared/styles/colors";

// Main navbar
#MainNavBar {
  user-select: none;
  width: 100%;

  a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
  }

  // All elements inside the navbar
  nav .main-navbar-items {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    // Each navigation item
    a:hover button,
    a:active button,
    a.active button {
      color: $selected-color;
    }
  }

  #NavbarMenuOpenButton {
    display: none;
  }

  nav.main-navbar-wrapper {
    ul {
      a.auth {
        display: block;
      }
    }
  }

  // If the screen size is 599px wide or less,
  // hide the items in navbar except auth ones
  // and show the hambuguer icon

  @media only screen and (max-width: 599px) {
    nav.main-navbar-wrapper {
      ul {
        a {
          display: none;
        }
      }
    }

    #NavbarMenuOpenButton {
      display: inline-flex;
    }
  }
}

#NavbarMenu {
  user-select: none;

  a {
    button {
      color: $text-secondary-color;
    }
    margin: 0;
    text-decoration: none;
  }

  // Each navigation item
  a:hover button,
  a:active button,
  a.active button {
    color: $mui-primary-color;
  }
}
