#MainNavBar {
  user-select: none;
  width: 100%;
}

#MainNavBar a {
  color: white;
  text-decoration: none;
}

.main-navbar-items a:hover button,
.main-navbar-items a:active button,
.main-navbar-items a.active button {
  color: rgb(255, 197, 130);
}
