/* All buttons have these styles */
.btn {
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  font: inherit;
  padding: 0.3rem 1rem;
  user-select: none;
}

/* Default button */
.btn-default {
  background: rgb(29, 78, 212);
  border: 1px solid rgb(29, 78, 212);
}
.btn-default:hover,
.btn-default:active {
  background: rgb(16, 76, 240);
  border-color: rgb(16, 76, 240);
}

/* Danger button */
.btn-danger {
  background: rgb(207, 11, 76);
  border: 1px solid rgb(207, 11, 76);
}
.btn-danger:hover,
.btn-danger:active {
  background: rgb(251, 6, 88);
  border-color: rgb(251, 6, 88);
}

/* Other button */
.btn-other {
  background: rgb(134, 151, 197);
  border: 1px solid rgb(134, 151, 197);
}
.btn-other:hover,
.btn-other:active {
  background: rgb(92, 117, 184);
  border-color: rgb(123, 156, 248);
}
