/** Events creation modal */

/* Button that opens the modal */
#EventsControlButton {
  border: 1px solid rgba(139, 153, 235, 0.109);
  margin: 0 auto;
  max-width: 50%;
  padding: 1rem;
  width: 30rem;
}

/* Main modal */
#create-event-modal .MuiPaper-root {
  width: 30rem;
}

/* Modal content */
.create-event-form {
  width: 100%;
}

.create-event-form .form-control div {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
}

/** Events list */
#EventsList {
  margin-top: 1rem;
}
