.Toastify__toast-container {
  opacity: 0.95;
  user-select: none;
}

.Toastify__toast-body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
